extends layout

block content
  h1 VV App 
  p.lead Authenticate with and authorise Strava access.
  hr
  .row
    .col-sm-6
      h2 VV App Pages Only
      p No one should see this page
      p
        a.btn.btn-default(href='#', role='button') View details »
    